<a href="{% url 'home' %}"><input type="button" value="return"></a>
<h1>About Me:</h1>
<h4>Full Name:</h4>
Dauylov Sanzhar
<h4>Who I am?</h4>
iOS Developer, that learning Backend(Django, Python)
<h4>My CV</h4>
<a href="http://dsanzh.github.com/">on github</a>

<h1>About project</h1>
<h4>Project name:</h4>
Pig Latin - Translator
<h4>Project description:</h4>
This is 1st project on Django from <a href="https://www.udemy.com/the-ultimate-beginners-guide-to-django-python-web-dev-website">this</a> course.
The project translates English -> <a href="https://en.wikipedia.org/wiki/Pig_Latin"> Pig Latin</a>. Pig Latin is a language game, which usually adds a suffix

<h1>About Course:</h1>
<h4>Name:</h4>
The Ultimate Beginner's Guide to Django
<h4>Description:</h4>
Lectures: 83 <br>
Video: 9 hours <br>
Skill level: Beginner Level<br> <br>

<a href="{% url 'home' %}"><input type="button" value="return"></a>